<h1>Sign UP</h1>
<form action="/signup" method="POST">
  USER <input type="text" name="username" /> PASSWORD
  <input type="password" name="password" />
  <button type="submit">signUP</button>
</form>
